rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAuthed() {
      return request.auth != null;
    }

    match /users/{uid}/{allPaths=**} {
      allow read, write: if isAuthed() && request.auth.uid == uid;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
